/* change these */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently,
name the variables differently,
use the fonts in other ways in the font hierarchy etc. */

/* change / delete some of these - note: all variables are listed twice */

:root {
  --red: #e30413;
  --black: #232220;
  --eggshell: #f6f3ee;
  --creme: #d9cdb8;
  --dark-creme: #beb097;

  --primary-font: "Roboto Condensed", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --main-text-color: #000;
  --header-font: "Bebas Neue", sans-serif;

  --white-space: 2rem;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--dark-creme);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: 0.75em;
  font-weight: bold;
  color: white;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
}

.header-wrapper h4 {
  font-size: 0.8rem;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  /* margin-bottom: calc(4 * var(--white-space)); */
  margin-bottom: calc(2 * var(--white-space));
}

.section-heading {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: 0.5rem 0;
}

.logo {
  max-width: 400px;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 1vw;
  height: 9vw;
  width: 18%;
  text-align: center;
  padding-top: 4vw;
  font-size: 0;
  box-shadow: 0px 0px 5px grey;
}

.swatches li:hover {
  animation: 2s glow alternate infinite;
  font-size: 1rem;
}

.swatches .swatchgrid li {
  border-radius: 50%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--red);
}

.color-swatch-2 {
  background-color: var(--black);
  color: var(--eggshell);
}

.color-swatch-3 {
  background-color: var(--eggshell);
}

.color-swatch-4 {
  background-color: var(--creme);
}

.color-swatch-5 {
  background-color: var(--dark-creme);
}
@keyframes glow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.textures li {
  height: 12vw;
  width: 12vw;
  margin-right: 1vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.texture-swatch-1 {
  background: url(../img/drivhus.jpg) top left repeat;
  background-position: center;
}

.texture-swatch-2 {
  background: url(../img/karolina-wv-b22kPrO6Zsk-unsplash.jpg) top left repeat;
  background-position: 3/4 right;
}

.texture-swatch-3 {
  background: url(../img/marissa-price-kvHP-ueoMNI-unsplash.jpg) top left repeat;
  background-position: left;
}

.texture-swatch-4 {
  background: url(../img/morogdreng.png) top left repeat;
  background-position: center;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: flex-start;
  gap: calc(0.5 * var(--white-space));
}

button {
  padding: 1rem;
  background: var(--creme);
  text-align: center;
  text-decoration: none;
  font: 1.25em/1 var(--primary-font);
  letter-spacing: 1px;
  color: white;
  text-transform: ;
  text-shadow: 0px 0px 1px var(--eggshell);
  transition: all 0.2s ease;
  cursor: pointer;
  border: 0;
  box-shadow: 0px 1px 5px grey;
  /* margin: 0 1rem 0 0; */
}

.secondary-button {
  background: var(--dark-creme);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
}

/* button:hover {
  background-color: var(--link-hover-color);
  transform: scale(3) rotate(40deg);
} */

.primary-button:active {
  background-color: var(--dark-creme);
}

.secondary-button:active {
  background-color: var(--creme);
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: var(--header-font);
}

.h2-sample {
  font-family: var(--primary-font);
  font-size: 1.25rem;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: var(--link-hover-color);
  font-size: 4rem;
  background-color: var(--color-4);
  opacity: 0.1;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  /* margin-bottom: calc(2 * var(--white-space)); */
  margin-bottom: var(--white-space);
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 1.5rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}
.adjectives ul li {
  margin-bottom: 10px;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: column;
  }
}
